PORT = "<PORT>" # Default :8999
DISCORD_PUBLIC_KEY = "<DISCORD_PUBLIC_KEY>"
GUILD_ID = "<DISCORD_GUILD_ID>"
BOT_TOKEN = "<BOT_TOKEN>"
QUEUE_URL = "<QUEUE_URL>" # Default :amqp://localhost
QUEUE_NAME = "<QUEUE_NAME>"  #Default: "DISCORD_QUEUE"